.about{
    align-items: center;
    background: #000;
    height: calc(100vh - 80px);

    .container {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #fff;
            padding: 40px 0;
            margin-top: 60px;

        .picofme {
            width: 1200px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin-bottom: 50px;
    
            img {
                position: absolute;
                top: -315px;
                left: 0;
                width: 100%;
                filter: grayscale(1);
            }
        }
    
        .content-wrapper{
            width: 80%;
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 20px;
    
            .about-description{
                letter-spacing: 2px;
                text-align: justify;
                width: 80%;
                align-self: baseline;
                justify-self: center;
    
            }
            .featured-works{
                font-size: .8em;
    
                h2 {
                    margin-bottom: 10px;
                    font-size: 1.2em;
                }
                ul {

                    li {
                        list-style: none;
                        border-left: 2px solid #000;
                        margin-bottom: 5px;
                        transition: .5s;
                        padding-left: 5px;

                        &:hover {
                            border-left: 5px solid #000;
                        }
                    }
                }
            }
        }
    }
}