.contact {
    background-color: $darkgrey;

    .skewed-background {
        position: absolute;
        z-index: 1;
        height: 1450px;
        width: calc(100vw - 7px);

        .skewed-image {
            overflow-x: hidden;
            height: inherit;
            width: inherit;
        }
    }

    .skewed-content {
        position: absolute;
        z-index: 2;
        width: 500px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin: 150px 0 0 350px;
        background: $darkergrey;
        color: $offwhite;
        border-radius: 15px;
        padding: 20px;

        .hero-section {
            display: flex;
            flex-direction: column;
            align-self: center;
            text-align: center;
            padding: 15px 0;
            gap: 5px;

            .smol {

            }

            .beeg {
                font-size: 5em;
            }
        }

        .contact-form {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-self: center;
            height: calc($form-height +10px);
            transition: 1s;

            h2 {
                margin-bottom: 10px;
            }

            input, textarea {
                width: 300px;
                padding: 5px 10px;
            }

            #message {
                max-height: 75px;
                max-width: 300px;
            }

            #submit-btn {
                width: auto;
                place-self: center;
                margin: 10px;
                margin-top: 20px;
                border-radius: 50px;
                padding: 15px 10px;
                background: #fff;
                font-family: 'Yanone Kaffeesatz', sans-serif;
                font-size: 2em;
                transition: .5s;

                &:hover {
                    background: $orange;
                    color: $offwhite;
                }

                &:active {
                    background: $darkgrey;
                    color: $offwhite;
                }
            }
        }

        .name p, .phone p, .email p, .message p {
            color: $orange;
            font-style: italic;
            margin-bottom: 5px;
        }
    }
}


@media (max-width: 680px) {

    .contact {

        .skewed-background {
            width: 1000px;
            height: 1000px;
            overflow-y: hidden;

            .skewed-image {
                overflow-y: hidden;
                height: inherit;
                width: inherit;
            }
        }

        .skewed-content {
            margin: 50px 0;
            background: rgba(0, 0, 0, 0.864);
        }
    }
}