.navbar {
    background: $darkergrey;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hamburger {
        margin-left: 1rem;
        padding: 10px 10px 5px 10px;
        font-size: 2rem;
        background: none;
        display: flex;
        color: #fff;
        text-decoration: none;

        p {
            margin-top: -5px;
            margin-left: 5px;
            font-family: 'Lobster Two', cursive;
        }

        &:hover {
            background: $darkgrey;
            border-radius: 4px;
        }
    }

    img {
        width: 200px;
        margin: 50px 20px 0 0;
        position: relative;
        z-index: 3;
    }
}

.nav-menu {
    background: $darkgrey;
    width: 175px;
    height: 300px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;

    &.active {
        left: 0;
        position: absolute;
        z-index: 4;
        transition: 350ms;
        height: 300px;
    }
}

.nav-menu-items {
    width: 100%;
    position: absolute;
    z-index: 4;

    .navbar-toggle {
        background: $darkergrey;
        width: 100%;
        height: 118px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a {
            color: $offwhite;
            font-size: 2em;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 70px;
            border-radius: 4px;

            svg {
                font-size: 1.2em;
                border: 2px solid #fff;
                border-radius: 50px;
                padding: 5px;

                &:hover {
                    background: $darkgrey;
                }
            }
        }
    }

    .nav-text {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        height: 60px;
    
        a {
            color: $offwhite;
            text-decoration: none;
            font-size: 18px;
            width: 95%;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 16px;
            border-radius: 4px;

            span {
                margin-left: 16px;
            }
    
            &:hover {
                background: $grey;
            }
        }
    }
}