@import "./variables.scss";
@import "./navbar.scss";
@import "./contact.scss";
@import "./about.scss";
@import "./gallery.scss";
@import "./gallery-item.scss";
@import "./auth.scss";

html {
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: $darkergrey;
}

.home, .contact, .about, .gallery {
    display: flex;
    flex-direction: column;
}