// Experimental Coolers.co palette - ref: https://coolors.co/f3ebf0-2c302e-474a48-9ae19d-537a5a
$offwhite: #fafafa;
$grey: rgb(137, 145, 154);
$darkgrey: rgb(53, 53, 57);
$darkergrey: rgb(23, 23, 23);
$orange: #d13f04;
$form-height: 400px;