.login-form {
    height: calc(100vh - 84px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    place-self: center;
    flex-direction: column;
    background-image: url(../images/mothbackground.jpg);

    h1 {
        text-align: center;
        background-color: #ff2d2dc7;
        border-radius: 15px;
        padding: 5px 10px;
        color: #fff;
    }

    p {
        font-size: .8em;
        margin-top: 5px;
    }

    .form-group {
        display: flex;
        align-items: center;
        margin: 10px 0;

        input {
            border-radius: 5px;
            width: 250px;
            padding: 5px;
            margin: 0 10px;
            border: unset;
            border-bottom: 2px solid $darkgrey;

            &:focus-visible {
                outline: none;
            }

            &:-internal-autofill-selected {
                background-color: $offwhite;
            }
        }

        #token {
            font-size: .5rem;
        }

        svg {
            font-size: 1.2em;
            color: $grey;
        }
    }

    .btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;

        .success {
            background-color: #0db80d;
        }

        .failure {
            background-color: #ff0000;
        }

        button {
            width: 40%;
            padding: 5px;
            border-radius: 5px;
            background-color: $darkergrey;
            color: $offwhite;
            border: unset;
            cursor: pointer;
        }
    }
}

#errormsg {
    text-align: center;
    font-size: 1.2em;
    color: #f00;
}