.gallery {
    width: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10em;
    background-color: #1e2123;

    .welcome-wrapper {
        width: auto;
        color: #fff;
        margin-bottom: 3em;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
        gap: 1em;

        .gallery-item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100%;

            img {
                width: 100%;
                height: inherit;
                background-color: rgba(152, 192, 216, 0.069);
                content-visibility: auto;
                border-radius: .5em;
                transition: .2s;

                &:hover {
                    filter: brightness(1.2);
                }
            }
        }
    }
}