.artwork-wrapper {
    color: white;
    width: auto;

    .header-wrapper {
        width: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .6em;
        padding: 1em;

        h2 {
            // font family here
        }

        p {
            font-size: .8rem;
        }
    }

    .image-wrapper {
        width: inherit;
        display: flex;
        place-content: center;

        img {
            width: 100vw;
            max-width: 50em;
            border: 2px solid black;
            box-shadow: 0 0 5px 1px white;
            content-visibility: auto;
            background-color: rgba(80, 164, 216, 0.069);
            transition: .5s;

            &:hover {
                filter: brightness(1.2);
            }
        }
    }

    .details-wrapper {
        width: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5em;
        padding: 1em;

        .available-media {
            display: flex;
            gap: 3em;
            align-items: baseline;

            a {
                all: unset;
                color: #fff;
                cursor: pointer;
            }

            .medium {
                font-style: italic;
                font-size: .8rem;
            }

            .available {
                padding: .2em 1em;
                background-color: #50b13a;
                border-radius: 1em;
                box-shadow: 0 0 11px 0 #b1ebb1;
                transition: .5s;

                &:hover {
                    background-color: #2f841c;
                }
            }

            .unavailable {
                padding: .2em 1em;
                background-color: #b13a3a;
                border-radius: 1em;
                box-shadow: 0 0 11px 0 #ebb1b1;
                transition: .5s;
            }
        }
    }
}

.artwork-wrapper {
    background: linear-gradient(320deg, #000000, #ec5634, #000000, #ee7a1c);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
}
@keyframes AnimationName {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
}