.navbar {
    width: auto;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    background: $darkergrey;
    z-index: 2;
    position: relative;

    .hamburger {
        color: $offwhite;
        text-decoration: none;
        display: flex;
        place-items: center;
        padding: 1em;
        gap: .5em;
        margin: .5em;

        .name {
            text-decoration: none;

            h2 {
                font-family: 'Lobster Two', cursive;
                color: $offwhite;
                font-size: 2.2rem;
            }
        }
        
        svg {
            font-size: 2rem;
        }
    }

    h5 {
        color: $offwhite;
        align-self: center;
    }

    img {
        height: 3em;
        align-self: center;
        margin: 1em;
        transition: .5s;

        &:hover {
            transform: rotate(349deg);
        }
    }
}

.the-centerer {

    .nav-menu {
        // display: none;
        width: auto;
        flex-direction: column;
        align-items: center;
        text-align-last: center;
        color: $darkergrey;
    
        transition: 1s;
        position: absolute;
        transform: translateY(-100%);
        z-index: 1;
    
        &.active {
            transform: translateX(0%);
            padding: 15px 0;
            transition: 500ms;
            background: #000000ae;
            position: absolute;
            border-radius: 0 0 20px 20px;
        }
    
        .nav-menu-items {
            display: flex;
    
            .navbar-toggle {
                
                svg {
                    color: $darkgrey !important;
                }
            }
    
            .nav-text {
                margin: 0 1em;
    
                a {
                    text-decoration: none;
                    font-size: 1.4em;
                    color: $offwhite;
                    display: flex;
                    align-items: center;
                    gap: .2em;
    
                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 980px) {
    * {
        max-width: 100vw;
    }

    .the-centerer {
        display: flex;
        width: auto;
        place-content: center;
    }
}

@media only screen and (max-width: 400px) {
    .nav-text {
        font-size: .7rem;
    }
}